@{
    ViewData["Title"] = "Corona ";
}
<h1>@ViewData["Title"]</h1>

<div> 
    <p>
    Covid 19:
    1)	About:
    Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
    Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.  Older people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness.
    The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by coughing into a flexed elbow).
    2) Symptoms:
    The most common symptoms of COVID-19 are fever, dry cough, and tiredness. Other symptoms that are less common and may affect some patients include loss of taste or smell, aches and pains, headache, sore throat, nasal congestion, red eyes, diarrhoea, or a skin rash.
    3) What to do to keep yourself and others safe from COVID-19:
    •	Maintain at least a 1-metre distance between yourself and others to reduce your risk of infection when they cough, sneeze or speak. Maintain an even greater distance between yourself and others when indoors. The further away, the better.
    •	Make wearing a mask a normal part of being around other people.
    •	clean your hands with an alcohol-based hand rub or wash them with soap and water.
    </p>
</div>
